@theme {
  --color-primary-fixed-dim: #b6c4ff;
  --color-surface-container-low: #181c21;
  --color-surface-container: #1c2025;
  --color-on-secondary-fixed: #002108;
  --color-secondary: #40e56c;
  --color-primary: #b6c4ff;
  --color-on-error-container: #ffdad6;
  --color-error: #ffb4ab;
  --color-surface-tint: #b6c4ff;
  --color-on-secondary-fixed-variant: #00531e;
  --color-on-secondary-container: #004d1b;
  --color-secondary-fixed-dim: #3ce36a;
  --color-surface-dim: #101419;
  --color-on-primary-container: #f7f5ff;
  --color-on-primary: #002780;
  --color-background: #101419;
  --color-secondary-container: #02c953;
  --color-on-surface: #e0e2ea;
  --color-outline: #8d90a2;
  --color-on-surface-variant: #c3c5d8;
  --color-on-tertiary-container: #fff4f3;
  --color-on-tertiary-fixed: #400009;
  --color-outline-variant: #434656;
  --color-on-primary-fixed-variant: #003ab3;
  --color-inverse-surface: #e0e2ea;
  --color-tertiary-fixed: #ffdad9;
  --color-error-container: #93000a;
  --color-surface: #101419;
  --color-secondary-fixed: #69ff87;
  --color-surface-container-lowest: #0a0e13;
  --color-primary-container: #2962ff;
  --color-tertiary-fixed-dim: #ffb3b3;
  --color-surface-container-highest: #31353b;
  --color-on-tertiary: #680014;
  --color-surface-container-high: #262a30;
  --color-surface-bright: #36393f;
  --color-tertiary: #ffb3b3;
  --color-on-background: #e0e2ea;
  --color-primary-fixed: #dce1ff;
  --color-on-error: #690005;
  --color-on-secondary: #003912;
  --color-inverse-primary: #004ee8;
  --color-tertiary-container: #e20038;
  --color-on-primary-fixed: #001550;
  --color-surface-variant: #31353b;
  --color-inverse-on-surface: #2d3136;
  --color-on-tertiary-fixed-variant: #920021;

  --color-sf-dark-bg: #0b0f14;
  --color-sf-card-bg: #0e1621;
  --color-sf-border: #1e293b;
  --color-sf-primary-blue: #4f46e5;
  --color-sf-accent-blue: #3b82f6;
  --color-sf-text-dim: #94a3b8;
  --color-sf-header-bg: #141b26;
}
